# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Model files
*.pt
# Environment files
.env

# Data folders
util_env/
# Figures or generated plots

# Logs and temporary files

# Ignore your specific `ignore` directory
ignore/

# Others (you can specify any additional files or directories)
